@import "normalize.css";

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url('../assets/6728670.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 50px;
}

.buttons-wrapper,
.stats-wrapper {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.button {
  height: 30px;
  border: 3px solid #ace494;
  border-radius: 10px;
  background-color: white;
  color: #9bdf7e;
  font-family: monospace;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
  transition: 0.3s;
}

.button:hover {
  transform: scale(1.05);
}

.button:active {
  transform: scale(1);
}

.start-button:hover {
  border: 3px solid #829bd6;
  color: #829bd6;
}

.stop-button:hover {
  border: 3px solid #f9906a;
  color: #f9906a;
}

.save-button:hover {
  border: 3px solid #f5cd2e;
  color: #f5cd2e;
}

.results-button:hover {
  border: 3px solid #b691d8;
  color: #b691d8;
}

.stats-wrapper {
  width: 320px;
  justify-content: space-evenly;
}

.moves,
.time {
  margin-top: 30px;
  color: white;
  font-family: monospace;
  font-size: 16px;
  font-weight: 700;
  transition: 0.3s;
}

.field {
  position: relative;
  width: 320px;
  height: 320px;
  margin: 10px 30px auto;
  border: 10px solid #ace494;
  border-radius: 10px;
  background-color: rgb(223, 241, 206);
}

.cell {
  position: absolute;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  border: 5px solid #829bd6;
  background-color: white;
  border-radius: 10px;
  font-family: monospace;
  font-size: 32px;
  font-weight: 700;
  color: #829bd6;
  cursor: pointer;
  transition: 0.3s;
}